<mat-toolbar class="navigation-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="color: red;">big</span><span style="color:#000000c2">basket</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu1" (click)="getAllCategories()">Categories</button>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item *ngFor="let category of categoryList" [routerLink]="['/products',category.categoryId]">{{category.categoryName}}</button>

    </mat-menu>
    <!-- <button mat-button [matMenuTriggerFor]="menu2">Pages</button>
    <mat-menu #menu2="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu> -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        [matMenuTriggerFor]="menu3">
        <mat-icon>shopping_cart</mat-icon>
    </button>
    <mat-menu #menu3="matMenu">
        <div class="p-2" style="width: 250px;">
            <div *ngIf="cartItems.length; else emptyCart">
              <div *ngFor="let item of cartItems" class="d-flex justify-content-between mb-1">
                <span><img [src]="item.productImageUrl"  class="cart-img" alt=""></span>
                
                <span>{{ item.productName }} (x{{ item.quantity }})</span>
                <span>₹{{ item.productPrice * item.quantity }}</span>
                <!-- <mat-icon (click)="remove(item.cartId); $event.stopPropagation() ">close</mat-icon> -->
                <button mat-icon-button color="warn" (click)="remove(item.cartId); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                  </button>
                  
              </div>
              <hr />
              <div class="d-flex justify-content-between fw-bold">
                <span>Total</span>
                <span>₹{{ getTotalPrice() }}</span>
              </div>
              <button mat-raised-button color="primary" class="mt-2 w-100">Checkout</button>
            </div>
        
            <ng-template #emptyCart>
              <div class="text-center text-muted py-2">🛒 Cart is empty</div>
            </ng-template>
          </div>
    </mat-menu>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>
<router-outlet></router-outlet>